:root {
    --bright: #FBFAF5;
    --beige: #F9F8EC;
    --red: #FF1B0D;
    --gray: #A3A3A3;
    --grayer: #363636;
    --blue: #2C323D;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* schema */
  header {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    padding: 5px;

}

.about,
.projects {
    color: var(--grayer);
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
}

/* Fade in */
  a::after {
    display: flex;
    align-items: baseline;
    content: ''; 
    width: 100%;
    height: 0.1em;
    background-color: var(--grayer);
    opacity: 0;
   transition: opacity 500ms, transform 500ms; 
}

a:hover::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

a:hover::after {
    transform: scale(1);
}


/* animation */
.navigation-container{
    height: 100vh;

}
/*  
.active{
   background-color: var(--grayer);
    z-index: 999;
    overflow: scroll;
    scroll-behavior: smooth;
    animation: scrollUp 1s ease-out 1 both; 

}
/* .animation-container{
    background-color: var(--grayer);
    z-index: 999;
    overflow: scroll;
    scroll-behavior: smooth;
    animation: scrollUp 1s ease-out 1 both;
    
}

@keyframes scrollUp{
    
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-150%);
        background-color: var(--bright);
        display: none;
    }
} */
/* animation */
.container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 10px;
}
/* 
header {
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    margin: 5px;
    padding: 5px;
}
.projects:hover,
.about:hover{
    color: var(--gray);
}
.projects,
.about {
    color:var(--grayer);
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}
 */
/* SLIDER ANIMATION */

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    overflow: scroll;
    scroll-behavior: smooth;

}
 .card-slider{
    transition:all 0.4s ease-in-out;
}
/*

@keyframes slideLeft{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-150px);
    }
}
.slideLeft{
    animation: slideLeft 1s ease-in 0.1s  ;
    transform: translateX(100px);
} */
/* .slideRight{
    animation: slideRight 1s ease-out 0.1s reverse  ;
    transform: translateX(-800px);
}
@keyframes slideRight{
    from{
        transform: translateX(350px);
    }
    to{
        transform: translateX(0);
    }
} */
/* SLIDER ANIMATION */

.card-slider:hover {
    color: var(--bright);
    background-color: var(--grayer);
}

.card {
    background-color: var(--beige);
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    min-width: 320px;
    width: 100%;
    height: 500px;
    margin: 0px 20px 0 ;
    border: none;
    border-radius: 30px;
}

.card-side-left {
    margin-left: -30px;
}

.card-side-right {
    margin-right: -30px;
}

.container::after {
    content: "";
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 60%;
    height: 5px;
    border-radius: 20px;
    background-color: #363636;
}

.arrow-left,
.arrow-right {
    padding: 0px;
    margin: 0px;
    position: relative;
    border-radius: 10px;
    opacity: 70%;
    z-index: 2;
    width: 60px;
}


img:hover {
    background-color: var(--grayer);
}

/* logo */

.github-logo {
    position: relative;
    right: -90%;
    top: -10px;
    width: 30px;
    height: 30px;
    margin: 10px 5px 0 0;
}
/*introduce container */


.profile-row {
    display: flex;
    flex-direction: row;

    overflow: overlay;
}

.row-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: overlay;
}

/* .profile-picture{
  width: 100%;
  max-width: 400px;
  height: auto;
} */
.profile-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9999;
}

.name {
    margin-bottom: 5px;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*     width: 30px;
 */
    height: 30px;
    margin: 10px;

}
.junior{
    margin-top: 3px;
}

.phone,
.envelope,
.github {
    padding: 5px;
    margin-right: 10px;
}

.space {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.introduce {
    text-align: center;
    margin: 10px;
}

.introduce-content {
    background-color: var(--blue);
    min-height: 500px;
    color: var(--bright);
    padding: 50px;
}
/* info bubble * LATER 
.tooltip {
    position: relative;
    display: inline-block;
/*     border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip //
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    content: 'david.vasadi';
    visibility: visible;
}
/* info bubble * LATER */

.davelopment-status{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    color: var(--bright);
}

/*media query*/
@media only screen and (max-width: 1100px) {
    .card {
      min-width: 340px;
      height: 500px;
      font-size: medium;
    }
  }
  
  @media only screen and (max-width: 375px) {
    .card {
      margin: 10px;
      min-width: 250px;
      height: 500px;
      font-size: medium;
    }
    .main{
        display: flex;
        flex-direction: row;

    }
    .arrow-left,.arrow-right{
        display: none;
    }
  }
  @media only screen and (min-width : 375px ) {
    .row-row{
        display: flex;
        flex-direction: column;
    }
    
  }
  /*back to top button */
  #myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
